attrs
awsebcli
bcrypt
blessed
botocore
cached-property
cement
certifi
cffi
charset-normalizer
colorama
cryptography
Django==2.2.27
docker
docker-compose
dockerpty
docopt
future
idna
jmespath
jsonschema
paramiko
pathspec
pycparser
PyNaCl
pyrsistent
python-dateutil
pytz
PyYAML
requests
semantic-version
six
sqlparse
termcolor
texttable
urllib3
wcwidth
websocket-client
django-mysql
django-cors-headers
Pillow
fontawesome-free
django-environ