body {
    margin: 0;
    padding: 0;
    background: url("images/Stonks.png");
    background-size: cover;
    background-position: center 35%;
    font-family: sans-serif;
}

.resetbox {
    width: 400px;
    height: auto;
    background: #000;
    opacity: 0.85;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 40px 30px;
}

h1 {
    margin: 0;
    padding: 0 0 15px;
    text-align: center;
    font-size: 26px;
}

#description {
    font-size: 16px;
    text-align:center;
    width: 80%;
    margin: 10px auto 30px;
}

button {
    border: none;
    outline: none;
    height: 40px;
    width: 70%;
    background: #6F6236;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    margin: auto;
    display: block;
}

button:hover {
    cursor: pointer;
    background: #FFF8E3;
    color: #000;
}

a {
    text-decoration: none;
}