body {
    margin: 0;
    padding: 0;
    background: url("images/Stonks.png");
    background-size: cover;
    background-position: center 35%;
    font-family: sans-serif;
}

.resetbox {
    width: 380px;
    height: auto;
    background: #000;
    opacity: 0.80;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 50px 50px;
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.resetbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.resetbox input {
    width: 100%;
    margin-bottom: 20px;
}

.resetbox input[type="text"],
input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.resetbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #6F6236;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.resetbox input[type="submit"]:hover {
    cursor: pointer;
    background: #FFF8E3;
    color: #000;
}

.required p,
ul {
    font-weight: normal;
    font-size: 14px;
}

.required ul {
    margin: 5px 0 20px 0;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
}