{% extends 'base.html' %} {% block stylesheet %}

<link rel="stylesheet" type="text/css" href="/static/addJournal.css" />
<script>
  $(document).ready(function () {
    var example = $("#example").DataTable({
      dom: '<"addbtn">frt<"addfile">p',
      columnDefs: [
        {
          targets: [0, 3, 5],
          orderable: false,
        },
      ],
    });

    $(".addbtn").on("click", function () {
      example.row
        .add([
        "",
          "<select class='form-select form-select-sm transaction_account' name='transaction_account'>" + 
                "<option value='1'>Assets</option>" + "<option value='2'>Liabilities</option>" +
            "</select>",
          "<input type='text' class='form-control form-control-sm transaction_type' name='transaction_description'>",
          "<select class='form-select form-select-sm transaction_type' name='transaction_type'>" + 
                "<option value='1'>Debit</option>" + "<option value='2'>Credit</option>" +
            "</select>",
          "<input type='number' class='form-control form-control-sm transaction_amount' name='transaction_amount'>",
          '<button class="remove"><i class="fas fa-trash-alt"></i></button>',
        ])
        .draw();
    });

    $("#example").on("click", ".remove", function () {
      example.row($(this).parents("tr")).remove().draw();
    });

    example.on( 'order.dt search.dt', function () {
        example.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();

    $("div.addbtn").html('<button class="add">Add Transaction</button>');
    $("div.addfile").html(
      '<label for="formfile" class="form-label">Add an Attachment: </label><input class="form-control" type="file" id="formfile">'
    );
  });
</script>
{% endblock %} {% load static %} {% block content %}

<div class="container-lg" id="mainbox">
  <div class="row">
    <div class="col-lg" id="pagehead">
      <a href="/listOfJournals/"
        ><i class="fas fa-arrow-circle-left" id="back"></i
      ></a>
      <h1 class="title">Journal Entry [incremental number]</h1>
    </div>
  </div>
  <div class="row">
    <!--Used as feedback so the user can ensure the journal entry is balanced, cannot proceed if not equal to 0-->
    <h2 class="text-center" id="subtitle">Balance: $0.00</h2>
  </div>
  <table id="example" class="stripe row-border compact" style="width: 100%">
    <thead>
      <tr>
        <th>#</th>
        <th>Account</th>
        <th>Description</th>
        <th>Type</th>
        <th>Amount</th>
        <th style="width: 10%">Action</th>
      </tr>
    </thead>
    <form>
      <tbody></tbody>
    </form>
    <tfoot>
      <tr></tr>
    </tfoot>
  </table>
  <div class="col-5 mx-auto" id="btn-container">
    <button class="btn-primary" id="reset">Reset Page</button>
    <button class="btn-primary" id="confirm">Submit</button>
  </div>
</div>

{% endblock %}
