{% extends 'base.html' %} {% block stylesheet %}
<link rel="stylesheet" type="text/css" href="/static/adminHome.css" />
<link rel="stylesheet" type="text/css" href="/static/updateProfile.css" />
{% endblock %} {% load static %} {% block content %}

<h1>Welcome {{user.first_name}} {{user.last_name}}!</h1>
<div class="fields">
  <div class="adduserbox">
    <form method="POST">
      {% csrf_token %}
      <p>First Name:</p>
      {{ form.first_name }}
      <p>Last Name:</p>
      {{ form.last_name }}
      <p>Email:</p>
      {{ form.email }}
      <p>Date of Birth:</p>
      {{ form.dob }}
      <p>Role:</p>
      <select id="role" name="role">
        {% for group in group_list %}
        <option value="{{group.name}}">{{ group.name }}</option>
        {% endfor %}
      </select>
      <p>Password:</p>
      {{ form.password1 }}
      <p>Confirm Password:</p>
      {{ form.password2 }}
      <div class="required" style="display: none">
        <p>Passwords must contain the following:</p>
        <ul>
          <li id="capital" class="invalid">Start with a letter</li>
          <li id="length" class="invalid">At least 8 characters</li>
          <li id="mixed" class="invalid">
            At least one letter, number, and special character each
          </li>
        </ul>
      </div>
      <br />
      <input type="submit" id="submit" name="Submit" value="ADD USER" />
    </form>
  </div>
  <table class="usertable">
    <thead>
      <tr>
        <td>User</td>
        <td>Role</td>
        <td>Status</td>
        <td></td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      {% if user_list and group_list %} {% for person in user_list %}
      <tr>
        <td id="username" name="username">{{ person.username }}</td>
        <td>{{person.role}}</td>
        <td id="status" name="status" value="{{person.is_staff}}">
          {% if person.is_staff == 1 %} Active {% else %} Inactive {% endif %}
        </td>
        <td>
          <a class="editButton" href="{%url 'edit_user' pk=person.pk %}">edit</a>
        </td>
        <td>
          <a class="deleteButton" href="{%url 'delete_user' pk=person.pk %}">delete</a>
        </td>
      </tr>
      {% endfor %} {% endif %}
    </tbody>
  </table>
  <div class="maincontainer modal fade" id="updateProfile">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">User Info</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="accountbox">
            <img src="{% static 'images/Avatar.png' %}" class="userimage" />
            <h2 class="record">Username</h2>
          </div>
          <hr />
          <form class="info">
            {% csrf_token %}
            <h5>Profile Information</h5>
            <p>First Name:</p>
            <input type="fname" class="record" name="edit-firstname" />
            <p>Last Name:</p>
            <input type="lname" class="record" name="edit-lastname" />
            <p>Email:</p>
            <input type="email" class="record" name="edit-email" />
            <p>Role:</p>
            <input type="password" class="record"name="edit-password"/>
            <p>Status:</p>
            <input type="lname" class="record"name="edit-status"/>
            <p>New Password:</p>
            <input type="password" class="record"name="edit-new-password" placeholder="New Password"/>
            <p>Confirm Password:</p>
            <input type="password" class="record"name="edit-confirm-password" placeholder="Confirm Password"/>
            <p>Image:</p>
            <input type="file" class="record" name="edit-file" /><br />
          </form>
        </div>
        <div class="modal-footer info">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <input type="submit" name="" value="Update" />
        </div>
      </div>
    </div>
  </div>
</div>
{% block javascript %}
<script>
  $(".editButton").click(function (e) {
    e.preventDefault();
    user_id = $(this).val();
    // var $this = $(this);
    // let username = $this.parents("")
    // let first_name = $this.parents 
    // let last_name
    // let email
    $("#updateProfile").modal("show");
    return false;
  });
</script>
{% endblock javascript %} {% endblock %}
