{% extends 'base.html' %}
{% block stylesheet %}<link rel="stylesheet" type="text/css" href="/static/adminHome.css" />{% endblock %}
{% load static %}
{% block content %}

<h1>Welcome Administrator</h1>
<div class="fields">
    <div class="adduserbox">
        <form method="POST" action="/">
            {% csrf_token %}
            <p>First Name:</p>
            <input type="text" name="fname" id="fname">
            <p>Last Name:</p>
            <input type="text" name="lname" id="lname">
            <p>Email:</p>
            <input type="email" name="email" id="email">
            <p>Date of Birth:</p>
            <input type="date" name="date" id="date">
            <p>Role:</p>
            <select id="role" name="">
                <option value="Administrator">Administrator</option>
                <option value="Manager">Manager</option>
                <option value="Accountant">Accountant</option>
            </select>
            <p>Password:</p>
            <input type="password" name="password" id="password">
            <input type="submit" id="submit" name="Submit" value="ADD USER">
        </form>
    </div>
    <table class="usertable">
        <thead>
            <tr>
                <td>User</td>
                <td>Role</td>
                <td>Status</td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% if user_list and group_list %}
                {% for user in user_list %}
                <tr>
                    <td id='username' name='username'>{{ user.username }}</td>
                    <td>
                        <select id="changerole" name="changerole">
                            {% for group in group_list %}
                            <option value="group.id">{{ group.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td><input type="checkbox" id="status" name="status" value="{{user.is_active}}" {% if user.is_active == 1 %}checked{% endif %}><label for="status"> Active</label></td>
                    <td><a href="#">edit</a></td>
                    <td><a href="#">delete</a></td>
                </tr>
                {% endfor %}
            {% endif %}
            <!-- Test for Scroll End -->
        </tbody>
    </table>
</div>

{% endblock %}