{% load static %}
<html>

<head>
  <!--Title-->
  <title>{% block title %}Stonks Accounting{% endblock %}</title>
  <!--Title End-->
  <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" />
  <script type="text/javascript" src="{% static '/js/jquery-3.6.0.js' %}"></script>
  <script type="text/javascript" src="{% static '/js/app.js' %}"></script>
  <script src="https://kit.fontawesome.com/fe8b803c14.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static '/bootstrap_js/bootstrap.bundle.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static '/bootstrap_css/bootstrap.css' %}" />
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />
  <link rel="stylesheet" type="text/css"
    href="https://cdn.datatables.net/datetime/1.1.2/css/dataTables.dateTime.min.css" />
  <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/datetime/1.1.2/js/dataTables.dateTime.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
  {% block stylesheet %}{% endblock %}
</head>

<!--Script For Dropdown-->
<script>
  function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
  }

  // Close the dropdown menu if the user clicks outside of it
  window.onclick = function (event) {
    if (!event.target.matches(".dropbtn")) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains("show")) {
          openDropdown.classList.remove("show");
        }
      }
    }
  };
</script>
<!--Script For Dropdown End-->

<!--Script For  Tooltips-->
<script>
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })
</script>

<body>
  <div class="banner">
    <!--Nav Bar-->
    <div class="navbar">
      <img src="{% static 'images/TransparentStonksFinLogo.png' %}" class="logo" />
      <ul>
        {% if user.role == 'Administrator' %}
        <li><a href="/adminHome/" class="btn" data-bs-toggle="tooltip" data-bs-placement="top"
            title="Home Page">Home</a></li>
        {% else %}
        <li><a href="/generalHome/" class="btn" data-bs-toggle="tooltip" data-bs-placement="top"
            title="Home Page">Home</a></li>
        {% endif %}
        <li><a href="/journalEntries/" class="btn" data-bs-toggle="tooltip" data-bs-placement="top"
            title="View Account Journal">Journals</a></li>
        <li><a href="/chartOfAccounts/" class="btn" data-bs-toggle="tooltip" data-bs-placement="top"
            title="View Chart of Accounts">Chart of Accounts</a></li>
        <li>
          <div class="dropdown">
            <a href="#" class="btn dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Generate New Reports">Reports</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" id="report-content">
              <a class="dropdown-item" href="/trialBalance/">Trial Balance</a>
              <a class="dropdown-item" href="/incomeStatement/">Income Statement</a>
              <a class="dropdown-item" href="/balanceSheet/">Balance Sheet</a>
              <a class="dropdown-item" href="/retainedEarnings/">Retained Earnings</a>
              <a class="dropdown-item" href="/generateReport/">Expired Passwords</a>
            </div>
          </div>
        </li>
        <li>
          {{user.username}}
          <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">
              <i class="fas fa-user"></i>
            </button>
            <div id="myDropdown" class="dropdown-content">
              <a href="#"><i class="fas fa-user"></i> My Profile</a>
              <a href="/chartOfAccounts/"><i class="fas fa-file-invoice"></i> Accounts</a>
              <a href="{% url 'journal_entries'%}"><i class="fas fa-book"></i> Ledgers</a>
              <a href="{% url 'loggedOut' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!--Nav Bar End-->
    <!--Page Content-->
    <div class="content">{% block content %} {% endblock %}</div>
    <!--Page Content End-->
  </div>
  <footer>
    <p>Stonks Accounting for all your Financial Solutions</p>
    <p><a href="#">Need Help?</a></p>
  </footer>
</body>

</html>