{% extends 'base.html' %}
{% block stylesheet %}

<link rel="stylesheet" type="text/css" href="/static/chartOfAccounts.css" />
<script>
    function format(account_number, description, subcategory, normal, debit, credit, initial, user, statement, comment) {
        return '<div class="slider">' +
            '<div class="row">' +
            '<div class="col-9 text-start">' +
            '<ul>' +
            '<li>Account Description: </li>' + '<p>' + formatValue(description) + '</p>' +
            '<li>Account Subcategory: </li>' + '<p>' + formatValue(subcategory) + '</p>' +
            '<li>Normal Side: </li>' + '<p>' + formatValue(normal) + '</p>' +
            '<li>Debit: </li>' + '<p>$' + formatValue(debit) + '</p>' +
            '<li>Credit: </li>' + '<p>$' + formatValue(credit) + '</p>' +
            '<li>Initial Balance: </li>' + '<p>$' + formatValue(initial) + '</p>' +
            '<li>User: </li>' + '<p>' + formatValue(user) + '</p>' +
            '<li>Statement: </li>' + '<p>' + formatValue(statement) + '</p>' +
            '<li>Comment: </li>' + '<p>' + formatValue(comment) + '</p>' +
            '</ul>' +
            '</div>' +
            '<div class="col-3 text-center mx-auto" id="actions">' +
            '<a href="{%url "general_ledger" %}"><i class="fas fa-book"></i> View Ledger</a><br>' +
            `<a id="edit" data-bs-toggle="modal" href="#editaccountmodal" data-value="${account_number}"><i class="fas fa-edit"></i>Edit</a><br>` +
            `<a id="delete" data-value="${account_number}"><i class="fas fa-trash"></i> Delete</a>` +
            '</div>' +
            '</div>' +
            '</div>';
    }

    function formatValue(value) {
        if (!value || value == 'undefined' || value == "null" || value == '[object Object]') {
            return "<i>Not set " + value + "</i>";
        } else {
            return value;
        }
    }


    $(document).on('click', '#edit', function (e) {
        e.preventDefault();
        var account_number = $(this).data('value');
        $('#edit_accountnumber').val(account_number);
        $.ajax({
            type: "GET",
            url: "{%url 'edit_account' %}",
            data: { account_number: account_number },
            success: function (response) {
                const data = JSON.parse(response['account']);
                preload_modal(data[0]['fields'])
            }
        })
    })

    $(document).on('click', '#delete', function (e) {
        e.preventDefault();
        var account_number = $(this).data('value');
        var token = '{{csrf_token}}';

        $.ajax({
            headers: { "X-CSRFToken": token },
            type: "POST",
            url: "{%url 'delete_account' %}",
            data: {
                account_number: account_number,
            },
            dataType: 'json',
            success: function (response) {
                location.reload()
                console.log(response)
            },
            error: function (response) {
                console.log(response);
            }
        })

    })

    function preload_modal(account_info) {
        $('#edit_accountname').val(account_info['account_name']);
        $('#edit_accountcategory').val(`${account_info['account_category']}`).change();
        $('#edit_accountsubcategory').val(account_info['account_subcategory']);
        $('#edit_accountdescription').val(account_info['account_description']);
        $('#edit_normalside').val(`${account_info['normal_side']}`).change();
        $('#edit_debit').val(account_info['debit']);
        $('#edit_credit').val(account_info['credit']);
        $('#edit_balance').val(account_info['balance']);
        $('#edit_statement').val(`${account_info['statement']}`).change();
        $('#edit_comment').val(account_info['comment']);

    }

    var minDate, maxDate;

    // Custom filtering function which will search data in column four between two values
    $.fn.dataTable.ext.search.push(
        function (settings, data, dataIndex) {
            var min = minDate.val();
            var max = maxDate.val();
            var date = new Date(data[4]);

            if (
                (min === null && max === null) ||
                (min === null && date <= max) ||
                (min <= date && max === null) ||
                (min <= date && date <= max)
            ) {
                return true;
            }
            return false;
        }
    );

    $(document).ready(function () {

        // Create date inputs
        minDate = new DateTime($('#min'), {
            format: 'MMMM Do YYYY'
        });
        maxDate = new DateTime($('#max'), {
            format: 'MMMM Do YYYY'
        });

        var table = $('#example').DataTable({
            dom: '<"addbtn">frt<"logbtn">p'
        });

        // Refilter the table
        $('#min, #max').on('change', function () {
            table.draw();
        });

        // Makes a new request to update account information
        $('#updatebtn').click(function (e) {
            e.preventDefault();
            var token = '{{csrf_token}}';
            var account_number = $('#edit_accountnumber').val();
            var account_name = $('#edit_accountname').val();
            var account_category = $('#edit_accountcategory').val();
            var account_subcategory = $('#edit_accountsubcategory').val();
            var account_description = $('#edit_accountdescription').val();
            var normal_side = $('#edit_normalside').val();
            var balance = $('#edit_balance').val();
            var debit = $('#edit_debit').val();
            var credit = $('#edit_credit').val();
            var statement = $('#edit_statement').val();
            var comment = $('#edit_comment').val();

            $.ajax({
                headers: { "X-CSRFToken": token },
                type: "POST",
                url: "{%url 'update_account' %}",
                data: {
                    account_number: account_number,
                    account_name: account_name,
                    account_category: account_category,
                    account_subcategory: account_subcategory,
                    account_description: account_description,
                    normal_side: normal_side,
                    balance: balance,
                    debit: debit,
                    credit: credit,
                    statement: statement,
                    comment: comment
                },
                dataType: 'json',
                success: function (response) {
                    location.reload()
                    console.log(response)
                },
                error: function (response) {
                    console.log(response);
                }
            })
        })

        // Makes a request to add a new account
        $('#savebtn').click(function (e) {
            e.preventDefault();
            var token = '{{csrf_token}}';
            var account_name = $('#add_accountname').val();
            var account_category = $('#add_accountcategory').val();
            var account_subcategory = $('#add_accountsubcategory').val();
            var account_description = $('#add_accountdescription').val();
            var normal_side = $('#add_normalside').val();
            var balance = $('#add_balance').val();
            var debit = $('#add_debit').val();
            var credit = $('#add_credit').val();
            var statement = $('#add_statement').val();
            var comment = $('#add_comment').val();

            $.ajax({
                headers: { "X-CSRFToken": token },
                type: "POST",
                url: "{%url 'add_account' %}",
                data: {
                    account_name: account_name,
                    account_category: account_category,
                    account_subcategory: account_subcategory,
                    account_description: account_description,
                    normal_side: normal_side,
                    balance: balance,
                    debit: debit,
                    credit: credit,
                    statement: statement,
                    comment: comment
                },
                dataType: 'json',
                success: function (response) {
                    location.reload()
                    console.log(response)
                },
                error: function (response) {
                    console.log(response);
                }
            })
        })

        $("div.addbtn").html('<button class="add" data-bs-toggle="modal" data-bs-target="#addaccountmodal">+ Add New Account</button>');
        $("div.calendarbtn").html('<a class="calendar"><i class="fas fa-calendar-alt"></i></a>');
        $("div.logbtn").html('<a href="{% url "EventLog" %}" class="log">View Event Logs</a>');

        $('div.calendarbtn').click(function () {
            var date = new DateTime($("div.calendarbtn"), {
                format: "YYYY-MM-DD"
            });
            $('input[type="search"]').val(date.val());
        })


        // Add event listener for opening and closing details
        $('#example tbody').on('click', 'tr.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);

            if (row.child.isShown()) {
                // This row is already open - close it
                $('div.slider', row.child()).slideUp(function () {
                    row.child.hide();
                    tr.removeClass('shown');
                });

            } else {
                // Open this row
                if (table.row('.shown').length) {
                    $('.details-control', table.row('.shown').node()).click();
                }
                row.child(format(tr.data('account_number'), tr.data('description'), tr.data('subcategory'), tr.data('normal'),
                    tr.data('debit'), tr.data('credit'), tr.data('initial'),
                    tr.data('userid'), tr.data('statement'), tr.data('comment'),
                )).show();
                tr.addClass('shown');
                $('div.slider', row.child()).slideDown();
            }
        });

    });
</script>
{% endblock %}

{% load static %}

{% block content %}

<!--NEW ACCOUNT MODAL START-->
<div class="modal fade" id="addaccountmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fas fa-backspace"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row text-center">
                    <h2 id="modaltitle">Add Account</h2>
                </div>
                <form method="POST">
                    <div class="form-row justify-content-center">
                        <div class="form-group col-5 modalblockone">
                            <label for="accountname">Account Name:
                                <input type="text" class="form-control form-control-sm" id="add_accountname"
                                    name="add_accountname">
                            </label>
                            <label for="accountcategory">Account Category:
                                <select multiple-class="form-control" name="add_accountcategory"
                                    id="add_accountcategory">
                                    <option value="A">Assets</option>
                                    <option value="L">Liabilities</option>
                                    <option value="EQ">Equity Accounts</option>
                                    <option value="R">Revenues</option>
                                    <option value="EX">Expenses</option>
                                    <option value="O">Other</option>
                                </select>
                            </label>
                            <label for="accountsubcategory">Account Subcategory:
                                <input type="text" class="form-control form-control-sm" id="add_accountsubcategory"
                                    name="add_accountsubcategory">
                            </label>
                            <label for="accountdescription">Account Description
                                <textarea class="form-control form-control-sm" id="add_accountdescription"
                                    name="add_accountdescription" rows="4"></textarea>
                            </label>
                        </div>
                        <div class="form-group col-5 modalblocktwo">
                            <label for="normalside">Normal Side:
                                <select multiple-class="form-control form-select" id="add_normalside"
                                    name="add_normalside">
                                    <option value="Debit">Debit</option>
                                    <option value="Credit">Credit</option>
                                </select>
                            </label>
                            <label for="balance">Balance:
                                <input type="number" class="form-control form-control-sm" id="add_balance"
                                    name="add_balance">
                            </label>
                            <label for="debit">Debit:
                                <input type="number" class="form-control form-control-sm" id="add_debit"
                                    name="add_debit">
                            </label>
                            <label for="credit">Credit:
                                <input type="number" class="form-control form-control-sm" id="add_credit"
                                    name="add_credit">
                            </label>
                            <label for="statement">Statement:
                                <select multiple-class="form-control" id="add_statement" name="add_statement">
                                    <option value="IS">Income statement</option>
                                    <option value="BS">Balance sheet</option>
                                    <option value="RE">Retained statement</option>
                                </select>
                            </label>
                            <label for="comment">Comment:
                                <input type="text" class="form-control form-control-sm" id="add_comment"
                                    name="add_comment">
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="submit" class="btn btn-primary custombtn" id="savebtn" name="savebtn">Save</button>
            </div>
        </div>
    </div>
</div>
<!--NEW ACCOUNT MODAL END-->
<!--EDIT ACCOUNT MODAL END-->
<div class="modal fade" id="editaccountmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fas fa-backspace"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row text-center">
                    <h2 id="modaltitle">Edit Account</h2>
                </div>
                <form method="POST">
                    {%csrf_token%}
                    <div class="form-row justify-content-center">
                        <div class="form-group col-5 modalblockone">
                            <input type="hidden" name="edit_accountnumber" id="edit_accountnumber">
                            <label for="accountname">Account Name:
                                <input type="text" class="form-control form-control-sm" id="edit_accountname"
                                    name="edit_accountname" placeholder="django name" />
                            </label>
                            <label for="accountcategory">Account Category:
                                <select multiple-class="form-control" id="edit_accountcategory"
                                    name="edit_accountcategory">
                                    <option value="A">Assets</option>
                                    <option value="L">Liabilities</option>
                                    <option value="EQ">Equity Accounts</option>
                                    <option value="R">Revenues</option>
                                    <option value="EX">Expenses</option>
                                    <option value="O">Other</option>
                                </select>
                            </label>
                            <label for="accountsubcategory">Account Subcategory:
                                <input type="text" class="form-control form-control-sm" id="edit_accountsubcategory"
                                    name="edit_accountsubcategory" placeholder="django subcategory">
                            </label>
                            <label for="accountdescription">Account Description
                                <textarea class="form-control form-control-sm" id="edit_accountdescription" rows="4"
                                    placeholder="django description" name="edit_accountdescription"></textarea>
                            </label>
                        </div>
                        <div class="form-group col-5 modalblocktwo">
                            <label for="normalside">Normal Side:
                                <select multiple-class="form-control" id="edit_normalside" name="edit_normalside">
                                    <option value="Debit">Debit</option>
                                    <option value="Credit">Credit</option>
                                </select>
                            </label>
                            <label for="balance">Balance:
                                <input type="number" class="form-control form-control-sm" id="edit_balance"
                                    name="edit_balance" placeholder="5000">
                            </label>
                            <label for="debit">Debit:
                                <input type="number" class="form-control form-control-sm" id="edit_debit"
                                    name="edit_debit" placeholder="5000">
                            </label>
                            <label for="credit">Credit:
                                <input type="number" class="form-control form-control-sm" id="edit_credit"
                                    name="edit_credit" placeholder="-5000">
                            </label>
                            <label for="statement">Statement:
                                <select multiple-class="form-control" id="edit_statement" name="edit_statement">
                                    <option class="short" value="IS">Income statement</option>
                                    <option class="short" value="BS">Balance sheet</option>
                                    <option class="short" value="RE">Retained statement</option>
                                </select>
                            </label>
                            <label for="comment">Comment:
                                <input type="text" class="form-control form-control-sm" id="edit_comment"
                                    name="edit_comment" placeholder="django comment">
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-center">
                <button class="btn btn-primary custombtn" name="submit" id="updatebtn">Update</button>
            </div>
        </div>
    </div>
</div>
<!--EDIT ACCOUNT MODAL END-->

<div class="container-lg" id="mainbox">
    <div class="row">
        <div class="col-lg" id="pagehead">
            <h1 class="title">Chart of Accounts</h1>
            <a><i class="fas fa-info-circle"></i></a>
        </div>
    </div>
    <table border="0" cellspacing="5" cellpadding="5">
        <tbody>
            <tr>
                <td>Minimum date:</td>
                <td><input type="text" id="min" name="min"></td>
            </tr>
            <tr>
                <td>Maximum date:</td>
                <td><input type="text" id="max" name="max"></td>
            </tr>
        </tbody>
    </table>
    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr class="details-control" data-child-value="Nope">
                <th>Account No.</th>
                <th>Account Name</th>
                <th>Account Category</th>
                <th>Balance</th>
                <th>Date Created</th>
            </tr>
        </thead>
        <tbody>
            {% if Account_list %}
            {% for account in Account_list %}
            <tr class="details-control" data-account_number="{{account.account_number}}"
                data-description="{{account.account_description}}" data-subcategory="{{account.account_subcategory}}"
                data-normal="{{account.normal_side}}" data-debit="{{account.debit}}" data-credit="{{account.credit}}"
                data-initial="{{account.initial_balance}}" data-userid="{{account.user}}"
                data-statement="{{account.get_statement_display}}" data-comment="{{account.comment}}">
                <td>{{account.account_number}}</td>
                <td>{{account.account_name}}</td>
                <td>{{account.get_account_category_display}} </td>
                <td>${{account.balance}}</td>
                <td>{{account.date_time_added}}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}