{% load static %}
<html>
    <head>
        <title>Stonks Home Page</title>
        <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}" />
        <link rel="stylesheet" href="{% static 'fontawesome_free/css/all.min.css' %}">
        <script type="text/javascript" src="{% static '/js/jquery-3.6.0.js' %}"></script>
        <script src="https://kit.fontawesome.com/fe8b803c14.js" crossorigin="anonymous"></script>
    </head>
    <script>
        function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
    </script>
    <body>
        <div class="banner">
            <div class="navbar">
                <img src="{% static 'images/TransparentStonksFinLogo.png' %}" class="logo">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Reports</a></li>
                    <li>
                        <div class="dropdown">
                            <button onclick="myFunction()" class="dropbtn"><i class="fas fa-user"></i></button>
                            <div id="myDropdown" class="dropdown-content">
                              <a href="#"><i class="fas fa-user"></i> My Profile</a>
                              <a href="#"><i class="fas fa-file-invoice"></i> Accounts</a>
                              <a href="#"><i class="fas fa-book"></i> Ledgers</a>
                              <a href="#"><i class="fas fa-sign-out-alt"></i> Logout</a>
                            </div>
                          </div>
                    </li>
                </ul>
            </div>
            <div class="content">
                <h1>BUILD YOUR PORTFOLIO</h1>
                <p>Handle all your accounting problems in one stop,<br> begin building your account report.</p>
                <div>
                    <button type="button"><span></span>Account</button>
                    <button type="button"><span></span>Reports</button>
                </div>
            </div>
        </div>
    </body>
</html>