{% extends 'base.html' %} {% block stylesheet %}

<link rel="stylesheet" type="text/css" href="/static/journal.css" />
<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "dom": '<"printbtn">frtp',
            "columnDefs": [{
                "targets": [0],
                "orderable": false
            }]
        });

        $("div.printbtn").html('<button class="print">Print</button>');
    });
</script>
{% endblock %} {% load static %} {% block content %}

<div class="container-lg" id="mainbox">
    <div class="row">
        <div class="col-lg" id="pagehead">
            <a href="/listOfJournals/"><i class="fas fa-arrow-circle-left" id="back"></i></a>
            <h1 class="title">Journal Entry #{{journal_id}}</h1>
        </div>
    </div>
    <table id="example" class="stripe row-border compact" style="width: 100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Account</th>
                <th>Description</th>
                <th>Type</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% if Transaction_list %}
            {% for transaction in Transaction_list %}
            <tr>
                <td>{{transaction.pk}}</td>
                <td>{{transaction.account_id}}</td>
                <td>Bob</td>
                <td>
                    {% if transaction.transaction_type == 1%}
                    Debit
                    {% else %}
                    Credit
                    {% endif %}
                </td>
                <td>{{transaction.amount}}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
        <tfoot>
            <tr></tr>
        </tfoot>
    </table>
</div>

{% endblock %}