{% extends 'base.html' %}
{% block stylesheet %}

<link rel="stylesheet" type="text/css" href="/static/journalEntries.css" />
<script>
    //function and container for accordion content
    function format(description, subcategory, normal, userid, statement, comment) {
        return '<div class="slider" >' +
            '<div class="row">' +
            '<div class="col-9 text-start">' +
            '<table id="journaltable">' +
            '<tr>' +
            '<th id="topleft">Account</th><th style="width:20%">Debit</th><th id="topright" style="width:20%">Credit</th>' +
            '</tr>' +
            '<tr>' +
            `<td>Inventory</td>` +
            `<td>0</td>` +
            `<td>100</td>` +
            '</tr>' +
            '<tr>' +
            `<td colspan="3" id="bottom"><p id="labeldesc">Description: </p>` +
            'Purchased out of my own resources</td>' +
            '</tr>' +
            '</table>' +
            '</div>' +
            '<div class="col-3 text-center mx-auto" id="actions">' +
            '<div class="actionscolor">' +
            '<a data-bs-toggle="modal" href="#updateModal"><i class="fas fa-gavel"></i> Update Status</a><br>' +
            '<a href="{% url "general_ledger"%}"><i class="fas fa-book"></i> View Ledger</a><br>' +
            '<a data-bs-toggle="modal" href="#editaccountmodal"><i class="fas fa-edit"></i>Edit</a><br>' +
            '<a href="#"><i class="fas fa-trash"></i> Delete</a>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '</div>';
    }

    $(document).ready(function () {
        //Main table with accordion start
        $("tbody tr:visible:even").css("background-color", "#f0f0f0");

        var maintable = $('#example').DataTable({
            dom: '<"addbtn"><"calendarbtn">frt<"logbtn">p',
            columnDefs: [
                {
                    targets: [0],
                    orderable: false,
                },
            ],
        });

        $("div.addbtn").html('<button class="add" data-bs-toggle="modal" data-bs-target="#addjournalmodal">+ Add Journal Entry</button>');
        $("div.calendarbtn").html('<a class="calendar"><i class="fas fa-calendar-alt"></i></a>');
        $("div.logbtn").html('<a href="{% url "EventLog" %}" class="log">View Change Logs</a>');

        $('div.calendarbtn').click(function () {
            var date = new DateTime($("div.calendarbtn"), {
                format: "YYYY-MM-DD"
            });
            $('input[type="search"]').val(date.val());
        })

        // $('.details-control').click(function (e) {
        //     e.preventDefault();
        //     console.log($(this).attr('data-child-value'));
        // })

        // Add event listener for opening and closing details
        $('#example tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = maintable.row(tr);

            if (row.child.isShown()) {
                // This row is already open - close it
                $('div.slider', row.child()).slideUp(function () {
                    row.child.hide();
                    tr.removeClass('shown');
                });

            } else {
                get_transaction_info($(this).data().value);
                row.child(format(tr.data('description'), tr.data('subcategory'), tr.data('normal'),
                    tr.data('debit'), tr.data('credit'), tr.data('initial'),
                    tr.data('userid'), tr.data('statement'), tr.data('comment'),
                )).show();
                tr.addClass('shown');
                $('div.slider', row.child()).slideDown();
            }
            row.child().css("background-color", "#dddddd");
            //Main table with accordion end
        });

        function get_transaction_info(journal_entry) {
            $.ajax({
                type: "GET",
                url: "{%url 'transaction_info' %}",
                data: { journal_entry: journal_entry },
                success: function (response) {
                    const data = JSON.parse(response['transaction'])
                    preload_transaction_table(data)
                },
                error: function (response) {
                    console.log(response);
                }
            })
        }

        function preload_transaction_table(transaction_list) {
        }

        //Add journal table start
        var addtable = $("#addtable").DataTable({
            dom: '<"addbtnT2"><"addfileT2">',
            ordering: false,
            paging: false,
        });

        $(".addbtnT2").on("click", function () {
            addtable.row
                .add([
                    "<select class='form-select form-select-sm transaction_account' name='transaction_account'>" +
                    "<option value='1'>Assets</option>" + "<option value='2'>Liabilities</option>" +
                    "</select>",
                    "<select class='form-select form-select-sm transaction_type' name='transaction_type'>" +
                    "<option value='1'>Debit</option>" + "<option value='2'>Credit</option>" +
                    "</select>",
                    "<input type='number' class='form-control form-control-sm transaction_amount' name='transaction_amount'>",
                    '<button class="remove"><i class="fas fa-trash-alt"></i></button>',
                ])
                .draw();
        });

        $("#addtable").on("click", ".remove", function () {
            addtable.row($(this).parents("tr")).remove().draw();
        });

        $("div.addbtnT2").html('<button class="addT2">Add Transaction</button>');
        $("div.addfileT2").html(
            '<label for="formfile" class="form-label">Add an Attachment: </label><input class="form-control" type="file" id="formfile">'
        );
    });
</script>
{% endblock %}

{% load static %}

{% block content %}

<!--NEW JOURNAL MODAL START-->
<div class="modal fade" id="addjournalmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fas fa-backspace"></i>
                </button>
            </div>
            <div class="modal-body col-11 mx-auto">
                <h3 id="journaltitleh3">Journal Entry: 1</h3>
                <h3 id="journaldateh3">Date: 09/01/2021</h3>
                <table id="addtable" class="stripe row-border compact">
                    <thead>
                        <tr>
                            <th>Account</th>
                            <th>Type</th>
                            <th>Amount</th>
                            <th id="actionhead">Action</th>
                        </tr>
                    </thead>
                    <form>
                        <tbody></tbody>
                    </form>
                </table>
                </table>
                <div class="col-10 mx-auto mt-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Description</div>
                        </div>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" id="resetbtn">Reset</button>
                <button type="button" class="btn btn-primary" id="savebtn">Save</button>
            </div>
        </div>
    </div>
</div>
<!--NEW JOURNAL MODAL END-->
<!--EDIT JOURNAL MODAL START-->
<div class="modal fade" id="editaccountmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fas fa-backspace"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row text-center">
                    <h2 id="modaltitle">Edit Account</h2>
                </div>
                <form>
                </form>
                <div class="form-row justify-content-center">
                    <div class="form-group col-5" id="modalblockone">
                        <label for="accountname">Account Name:</label>
                        <input type="text" class="form-control form-control-sm" id="accountname"
                            placeholder="django name">
                        <label for="accountnumber">Account Number:</label>
                        <input type="text" class="form-control form-control-sm" id="accountnumber"
                            placeholder="django number">
                        <label for="accountcategory">Account Category:</label>
                        <select multiple-class="form-control" id="accountcategory">
                            <option>Assets</option>
                            <option>Liabilities</option>
                            <option>Equity Accounts</option>
                            <option>Revenues</option>
                            <option>Expenses</option>
                            <option>Other</option>
                        </select>
                        <label for="accountsubcategory">Account Subcategory:</label>
                        <input type="text" class="form-control form-control-sm" id="accountsubcategory"
                            placeholder="django subcategory">
                        <label for="accountdescription">Account Description</label>
                        <textarea class="form-control form-control-sm" id="accountdescription" rows="4"
                            placeholder="django description"></textarea>
                    </div>
                    <div class="form-group col-5" id="modalblocktwo">
                        <label for="normalside">Normal Side:</label>
                        <select multiple-class="form-control" id="normalside">
                            <option>Debit</option>
                            <option>Credit</option>
                        </select>
                        <label for="balance">Balance:</label>
                        <input type="number" class="form-control form-control-sm" id="balance" placeholder="5000">
                        <label for="debit">Debit:</label>
                        <input type="number" class="form-control form-control-sm" id="debit" placeholder="5000">
                        <label for="credit">Credit:</label>
                        <input type="number" class="form-control form-control-sm" id="credit" placeholder="-5000">
                        <label for="statement">Statement:</label>
                        <select multiple-class="form-control" id="statement">
                            <option id="short">Income statement</option>
                            <option id="short">Balance sheet</option>
                            <option id="short">Retained earnings statement</option>
                        </select>
                        <label for="comment">Comment:</label>
                        <input type="text" class="form-control form-control-sm" id="comment"
                            placeholder="django comment">
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" id="savebtn">Update</button>
            </div>
        </div>
    </div>
</div>
<!--EDIT JOURNAL MODAL END-->
<!--CALENDAR DROPDOWN START-->
<!--CALENDAR DROPDOWN END-->
<!--STATUS MODAL START-->
<div class="modal fade" id="updateModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Update Journal Status</h3>
                <button class="close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times" id="xbtn"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-11 mx-auto">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Pending</option>
                        <option value="1">Approved</option>
                        <option value="2">Rejected</option>
                    </select>
                    <textarea class="form-control" rows="4" placeholder="Write optional message here..."></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-11 mx-auto">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancel">Cancel</button>
                    <button type="button" class="btn btn-primary" id="submit">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--STATUS MODAL END-->

<div class="container-lg" id="mainbox">
    <div class="row">
        <div class="col-lg" id="pagehead">
            <h1 class="title">Journal Entries</h1>
            <a><i class="fas fa-info-circle"></i></a>
        </div>
    </div>
    <table id="example" class="table" style="width:100%">
        <thead>
            <tr class="details-control" data-child-value="Nope">
                <th></th>
                <th>Journal Entry No.</th>
                <th>Date Created</th>
                <th>Related Document</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% if Files %}
            {% for file in Files %}
            <tr>
                <input type="hidden" name="journal_id" value="{{file.journal_entry.journal_id}}">
                <td class="details-control" data-value="{{file.journal_entry.journal_id}}"></td>
                <td>J/E. {{file.journal_entry.journal_id}}</td>
                <td>{{file.journal_entry.date_time_added}}</td>
                <td>{{file.file_name}}</td>
                <td id=" status">{{file.journal_entry.journal_status}}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}