{% extends 'base.html' %} {% block stylesheet %}

<link rel="stylesheet" type="text/css" href="/static/listOfJournals.css" />
<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "dom": '<"addbtn">frtp',
            "columnDefs": [{
                "targets": [1, 6],
                "orderable": false
            }]
        });

        $("div.addbtn").html('<a href="/addJournal/"><button class="add">+ Add Journal Entry</button></a>');
    });
</script>
{% endblock %} {% load static %} {% block content %}

<!--UPDATE STATUS MODAL START-->
<div class="modal fade" id="updateModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Update Journal Status</h3>
                <button class="close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times" id="xbtn"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-11 mx-auto">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Pending</option>
                        <option value="1">Approved</option>
                        <option value="2">Rejected</option>
                    </select>
                    <textarea class="form-control" rows="4" placeholder="Write optional message here..."></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-11 mx-auto">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancel">Cancel</button>
                    <button type="button" class="btn btn-primary" id="submit">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--UPDATE STATUS MODAL END-->

<div class="container-lg" id="mainbox">
    <div class="row">
        <div class="col-lg" id="pagehead">
            <h1 class="title">List of Journals</h1>
        </div>
    </div>
    <table id="example" class="stripe row-border compact order-column" style="width: 100%">
        <thead>
            <tr>
                <th>Journal<br>No.</th>
                <th>Accounts</th>
                <th>Name</th>
                <th>Balance</th>
                <th>Date Created</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>
                    <ul id="celllist">
                        <li>Cash</li>
                        <li>Liability</li>
                        <li>Stock</li>
                    </ul>
                </td>
                <td>Jordan</td>
                <td>$0</td>
                <td>2015/04/25</td>
                <td id="status">Pending</td>
                <td><button type="button" class="btn-primary" id="update" data-bs-toggle="modal"
                        data-bs-target="#updateModal">Update<br>Status</button></td>
            </tr>
            <tr>
                <td>2</td>
                <td>
                    <ul id="celllist">
                        <li>Assets</li>
                        <li>Expenses</li>
                    </ul>
                </td>
                <td>Avery</td>
                <td>$0</td>
                <td>2022/03/10</td>
                <td id="status">Approved</td>
                <td><button class="btn-primary" id="update">Update<br>Status</button></td>
            </tr>
        </tbody>
        <tfoot>
            <tr></tr>
        </tfoot>
    </table>
</div>

{% endblock %}