{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Create an Account</title>
    <link rel="stylesheet" type="text/css" href="{% static 'newUser.css' %}">
    <link rel="icon" type="image/png" href="{%static 'Stonks.png' %}">
    <script type="text/javascript" src="{% static '/js/jquery-3.6.0.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/app.js' %}"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'images/Stonks.png' %}">
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <div class="newUserAccount">
            <h1>Create an Account</h1>
            {% if messages %}
                {% for message in messages %}
                <p{% if message.tags %} class=" message{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
            {% endif %}
            {% for error in form.password2.errors %}
                <p class="message">{{ error }}</p>
            {% endfor %}
            {{ form.first_name }}
            {{ form.last_name }}
            {{ form.email }}
            {{ form.dob }}
            {{ form.password1 }}
            {{ form.password2 }}
            <div class="required" style="display:none">
                <p>Passwords must contain the following:</p>
                <ul>
                    <li id='capital' class="invalid">Start with a letter</li>
                    <li id='length' class="invalid">At least 8 characters</li>
                    <li id='mixed' class="invalid">At least one letter, number, and special character each</li>
                </ul>
            </div>
            <input type="submit" id="submit" name="Submit" value="Create Account">
            <a href="/">Already have an account?</a><br>
        </div>
    </form>
</body>

</html>