{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Stonks Accounting Solutions Reset Password</title>
    <link rel="stylesheet" type="text/css" href="{% static 'passwordReset.css' %}">
    <script type="text/javascript" src="{% static '/js/jquery-3.6.0.js' %}"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'images/Stonks.png' %}">
</head>
<script>
    $(document).ready(function () {
        validatePassword();
        confirmPassword();
    })

    function validatePassword() {
        // Shows the required field when password is focused on
        $('#password').focus(function () {
            $('.required').show();
        })
        // Hides the required field for when password is not focused on
        $('#password').blur(function () {
            $('.required').hide();
        })

        // Requirement #1 - Starts with a capitalized letter
        $('#password').keyup(function () {
            var value = this.value;
            var uppercase = /[A-Z]/g;
            if (uppercase.test(value.charAt(0))) {
                console.log('success1');
                $('#capital').removeClass('invalid');
                $('#capital').addClass('valid');
            } else {
                $('#capital').removeClass('valid');
                $('#capital').addClass('invalid');
            }


        })

        // Requirement #2 - At least 8 characters
        $('#password').keyup(function () {
            var value = this.value;
            if (value.length >= 8) {
                console.log('success2');
                $('#length').removeClass('invalid');
                $('#length').addClass('valid');
            } else {
                $('#length').removeClass('valid');
                $('#length').addClass('invalid');
            }
        })

        // Requirement #3 - At least one letter, number, and special character is used
        $("#password").keyup(function () {
            var value = this.value;
            var lowercase = /[a-z]/g;
            var numbers = /[0-9]/g;
            var specialChars = /[`!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?~]/;

            if (lowercase.test(value) && numbers.test(value) && specialChars.test(value)) {
                console.log('success3');
                $('#mixed').removeClass('invalid');
                $('#mixed').addClass('valid');
            } else {
                $('#mixed').removeClass('valid');
                $('#mixed').addClass('invalid');
            }

        })
    }

    function confirmPassword() {
        $('#submit').click(function () {
            var password = $('#password').val();
            var confirmPass = $('#confirmPassword').val();

            if (password != confirmPass) {
                alert('Passwords did not match.');
            } else {
                alert('Password created successfully!');
            }
        })
    }
</script>

<body>
    <div class="resetbox">
        <h1>Password Reset</h1>
        <form>
            {% csrf_token %}
            <input type="password" name="password" id="password" placeholder="New Password">
            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password">
            <div class="required" style="display:none">
                <p>Passwords must contain the following:</p>
                <ul>
                    <li id='capital' class="invalid">Start with a letter</li>
                    <li id='length' class="invalid">At least 8 characters</li>
                    <li id='mixed' class="invalid">At least one letter, number, and special character each</li>
                </ul>
            </div>
            <input type="submit" id="submit" name="submit" value="Reset Password">
        </form>
    </div>
</body>

</html>