{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Stonks Accounting Solutions Reset Password</title>
    <link rel="stylesheet" type="text/css" href="{% static 'passwordReset.css' %}">
    <script type="text/javascript" src="{% static '/js/jquery-3.6.0.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/app.js' %}"></script>
</head>
<body>
    <div class="resetbox">
        <h1>Password Reset</h1>
        <form method='POST' action='/passwordConfirm/'>
            {% csrf_token %}
            <input type="password" name="password" id="password" placeholder="New Password">
            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password">
            <div class="required" style="display:none">
                <p>Passwords must contain the following:</p>
                <ul>
                    <li id='capital' class="invalid">Start with a letter</li>
                    <li id='length' class="invalid">At least 8 characters</li>
                    <li id='mixed' class="invalid">At least one letter, number, and special character each</li>
                </ul>
            </div>
            <input type="submit" id="submit" name="submit" value="Reset Password">
        </form>
    </div>
</body>

</html>