{% load static %}

<!--This is the second of in the forgot password templates-->
<!--The order is [ forgotPass.html -> security.html -> emailSent.html ] -->

<!DOCTYPE html>
<html>
<head>
    <title>Stonks Accounting Solutions | Forgot Password</title>
    <link rel="stylesheet" type="text/css" href="{% static 'security.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/Stonks.png' %}">
</head>
<body>
    <div class="resetbox">
        <h1>Forgot Your Password?</h1>
        <div class="chart">
            <div class="circle1">
                <h3>&#10003</h3>
            </div>
            <div class="line"></div>
            <div class="circle2">
                <h3>2</h3>
            </div>
        </div>
        <div class="charttext">
            <p id="step1">Email Input</p>
            <p id="step2">Security</p>
        </div>
        <form method='POST' action='/'>
            {% csrf_token %}
            <p id="description">Please choose a question and fill out the answer in the security form below.</p>
            <label for="question">Select a question:</label>
            <select id="question" name="">
                <option value="Question 1">What is the name of your favorite pet?</option>
                <option value="Question 2">Where did you attend middle-school?</option>
                <option value="Question 3">What is your mother's maiden name?</option>
            </select>
            <input type="text" name="" placeholder="Answer">
            <input type="submit" name="submit" value="Send Email">
            <a href="/forgotPass">&#8592 Back</a>
        </form>
    </div>
</body>
</html>